<div>
<h2>Login</h2>
<hr/>
<a href="control/">Click here to access the control panel.</a>
</div>
<div>
<h2>About</h2>
<hr/>
RubyScript is simple way to control many Second Life objects through ruby code running on a server.<br/><a href="https://github.com/d4l3k/SL-RubyScript/blob/master/readme.md">Read the README on github for more information.</a>
</div>
