<style type="text/css">
body {
	font-family: arial, helvetica, sans-serif;
	background-color: #ccc;
    border: 0px;
    margin: 0px;
    padding: 0px;
	background-image:url("/hex_tile_light_small.png");
}
div
{
	auto;
	width:800px;
	padding:10px;
	border:1px solid black;
	margin: 0px auto -1px auto; 
	margin-bottom:10px;
	margin-top:10px;
	background-color:white;
	box-shadow: 0px 0px 10px #000000;
}
div.h1
{
	font-weight:800;
	font-size:6em;
	text-align:left;
	height:200px;
}
#subtitle
{
	font-weight:100;
	font-size:0.61em;
	font-style:italic;
	text-align:right;
	position:relative;
	top: -125px;
}
div.top
{
	float:left;
}
h2
{
	font-weight:bold;
	font-size:200%;
	padding:0px;
	margin:0px;
}
<body>
</style>
<title>RubyScript</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"> 
<div class="h1">
<a href="http://www.ruby-lang.org/"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/198px-Ruby_logo.svg.png" align="left" class="picture"/></a>
RubyScript
<br/>
<a href="http://secondlife.com/"><img src="http://upload.wikimedia.org/wikipedia/en/thumb/1/1f/Second_Life_logo.svg/200px-Second_Life_logo.svg.png" class="picture"/></a>
<p id="subtitle">Ruby Scripting</p>
</div>
<%=yield%>
</body>
<div>
<a href="/">Home</a>. RubyScript made by <a href="http://github.com/d4l3k/">Tomithe Aeon</a>.
</div>
