<HEAD>
<SCRIPT LANGUAGE="JavaScript">
function redirect () { setTimeout("go_now()",10000); }
function go_now ()   { window.location.href = "/control/"; }
</SCRIPT>

</HEAD>

<BODY onLoad="redirect()">

<div>
<h2>Redirecting</h2>
<hr/>
Redirecting you in 10 seconds.
</div>
</BODY>
